{% for i in id %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/agregar_mascota" method="post">
            <table>
                <!-- El IDUsuario debe de ser oculto una vez se logre hacer el pedo de guardar las cookies
                ya que este valor lo vendremos carreando por defecto con el login del usuario -->
                <tr>
                    <td>
                        <label for="">IdUsuario</label>
                    </td>
                    <td>
                        <input type="text" id="iduser" name="iduser" value = "{{ id.0 }}" hidden>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">Nombre de la mascota</label>
                    </td>
                    <td>
                        <input type="text" id="nombreMascota" name="nombreMascota">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="">Raza de la mascota</label>
                    </td>
                    <td>
                        <input type="text" name="raza" id="raza" >
                    </td>
                </tr>
            </table>
            <input type="submit" id = "enviar" value = "Guardar animalito">
        </form>
    </div>
</body>
</html>
{% endfor %}