<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar receta</title>
</head>
<body>
    <div>

        {% for i in id %}
            <form action="/agregar_receta" method="post">
                <table>
                    <tr>
                        <td>
                            <label for="">ID animalito: </label>
                        </td>
                        <td>
                            <input type="text" value="{{ i.0 }}" name="id" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="">Prescripcion:</label>
                        </td>
                        <td>
                            <input type="text" name="receta" rows="10">
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Guardar receta">
            </form>
        {% endfor %}
    </div>
</body>
</html>