<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veteribelica: Iniciar sesion</title>
</head>
<body>
    {% with msg = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                {{ m }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <table>
            <tr>
                <td>
                    <p>
                        Usuario: 
                    </p>
                </td>
                <td>
                    <input type="text" name ="user">
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Contraseña: 
                    </p>
                </td>
                <td>
                    <input type="password" name="pass" id="pass">
                </td>
            </tr>
        </table>
        <input type="submit" value="Iniciar sesión">
    </form>
</body>
<footer>
    <h2>
        ¿No cuenta con su usuario?
    </h2>
    <h3>
        Acerquese a su sucursal mas cercana para registrarse, es gratis, y lo seguira siendo
    </h3>
</footer>
</html>