<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Menu para staff de la veteribelica</h1>
        <h2>
            Primero busque por nombre de usuario
        </h2>
    </div>
    <div>
        <form action="/usuarios" method="post">
            <table>
                <tr>
                    <td><p>
                        Ingrese el nombre de usuario
                    </p></td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="user" value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Buscar">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>